// Colors
$blackColor: rgb(26, 26, 26);
$whiteColor: rgb(255, 255, 255);
$blueColor:rgb(86,117,219);
$redColor:rgb(241, 15, 34);

// Fonts
$tilteFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif; 
