@use "../Variables/Variables";

p{
    text-align: center;
}

.counter-wrapper{
    display: flex;
    justify-content: center;
}

button{
    @include Variables.buttonStyle(Variables.$blueColor, 25px);
}